label {
  color: rgb(236, 237, 230);
}

.OkButton {
  border-radius: 10px;
  border-style: none;
  background-color: rgb(62, 67, 135);
  color: white;
  margin-left: 5px;
}

.UserForm {
  background-color: rgb(217, 220, 228);
  color: rgb(55, 54, 81);
  border-radius: 10px;
  border-style: none;
}
