label {
  color: rgb(47, 75, 75);
  margin-right: 5px;
}

.MessageForm {
  background-color: rgb(217, 220, 228);
  color: rgb(55, 54, 81);
  border-radius: 10px;
  width: 400px;
  height: 80px;
  border-style: none;
}

.Send {
  height: 80px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(47, 114, 114);
  color: white;
  margin-left: 5px;
}
